/*
Theme Name: Travel Agency- Next Flight 
Template: travel-agency
Description:  	Child 
Version:      	1.0
License:      	GNU General Public License v2 or later
License URI:  	http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  	storefront
Tags:         	e-commerce, two-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, threaded-comments, accessibility-ready, rtl-language-support, footer-widgets, sticky-post, theme-options
*/

/*MENU*/

li {
    list-style: none;
}

.text-logo{
    display:none !important;
}

.site-branding {
	float: left;
	max-width: 150px;
	width: 100%;
}

.tel-link{
    color: white !important;
}

.flex-header{
    display:block;
}
.flex-content{
    display:block;
}

.flex-content.contact{
    display:none;
}
.site-branding {
	float: none;
	max-width: 150px;
	width: 100%;
	margin: auto;
}
.tools .form-holder {
box-shadow: 0px 1px 3px 0px #000;
border-radius: 0px 0px 5px 5px;
}

.nav-holder .container {
	background: #1773b9;
}

.site-header .header-t, .grid .post .img-holder .cat-links a {
	background: #1773b9 !important;
}

.features-holder .col .icon-holder,  .main-navigation ul li a:focus, .main-navigation .current_page_item > a, .main-navigation .current-menu-item > a, .main-navigation .current_page_ancestor > a, .main-navigation .current-menu-ancestor > a {
	color: #1773b9 !important;
}

.entry-title a:hover, .entry-title a:focus, .text-holder .btn-more:hover, .grid .text-holder .btn-more, .main-navigation ul li a:hover, .owl-next::after, .text-holder .btn-more:focus, .owl-prev::after {
	text-decoration: none;
	color: #f99116 !important;
}

.features-holder .col:hover circle, .our-features .features-holder .col:hover circle{
    stroke: #f99116 !important;
}

.owl-prev:hover circle, .owl-next:hover circle {
	-webkit-animation: cirlceanimate 1s;
	-moz-animation: cirlceanimate 1s;
	animation: cirlceanimate 1s;
	stroke: #f99116 !important;
}

.grid .col .text-holder .meta-info .fa ,  .grid .text-holder .meta-info .fa,  .grid .col .text-holder .title a:hover, .grid .col .text-holder .title a:focus, .owl-next::after, 
.blog-section .grid .post .entry-footer span .fa, .grid .post .entry-footer a:hover,.grid .post .entry-footer a:focus  {
	text-decoration: none;
	color: #f99116 !important;
}

.btn-holder .btn-more {
	border: 2px solid #f99116 !important;
    color: #f99116 !important;
}
.btn-holder .btn-more:hover, .btn-holder .btn-more:focus {
	text-decoration: none;
	background:  #f99116 !important;
	color: #fff !important;
}


.widget .widget-title::after, .stats .grid .col .raratheme-sc-holder .hs-counter::after, .section-header .section-title::after, .section-header .section-title::after, .section-header .section-title::after {
	background: #f99116 !important;
}

.cta .text .btn-more, .btn-more.toggle {
	border: 2px solid  #f99116;
	background: #f99116;
}

.cta .text .btn-more:hover, .cta .text .btn-more:focus,.btn-more.toggle:focus, .btn-more.toggle:hover {
	text-decoration: none;
	background: none;
}

.activities .section-header .holder {
	max-width: 80%;
}

.toggler{
    margin-top: 15px;
}
.btn-more.toggle {
	border-radius: 5px;
	display: inline-block;
	font-family: "Montserrat",sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 10px 30px;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	-webkit-transition: linear 0.2s;
	-moz-transition: linear 0.2s;
	transition: linear 0.2s;
}

.wg-drop.country-selector:not(.closed) ul {
	width: auto;
}

.menu .country-selector {
	top: 13px;
}

.travel-form .mewtwo-widget--e156ff21c09256ec00e311b4da6d07d4 .mewtwo-flights {
	background: #1773b9 !important;
	border-color: #007897 !important;
	border-radius: 0px !important;
}

.travel-form .mewtwo-widget--e156ff21c09256ec00e311b4da6d07d4 .mewtwo-flights-submit_button button {
	background: #f99116 !important;
	color: white !important;
}

.mewtwo-widget--e156ff21c09256ec00e311b4da6d07d4 .mewtwo-flights-submit_button button:hover, .mewtwo-widget--e156ff21c09256ec00e311b4da6d07d4 .mewtwo-flights-submit_button button:focus  {
	color:  #f99116 !important;
	border: solid 2px #f99116 !important;
}

.mewtwo-widget--e156ff21c09256ec00e311b4da6d07d4 .mewtwo-flights .mewtwo-best_offers::before {
	background: transparent !important;
    display: none !important;
}

.search-form{
	border-color: #007897 !important;
	border-radius: 0px !important;
    padding-top:15px;
}
.search-form .text .title {
	font-size: 58px;
	line-height: 1.241em;
	font-weight: 500;
	font-family: "Montserrat",sans-serif;
	margin: 0 0 15px;
}

.search-form .text {
	max-width: 645px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	font-size: 20px;
	line-height: 1.6em;
}

.activities::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	content: '';
	z-index: 1;
}

.activities::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	background-size: cover !important;
	background-attachment: fixed !important;
}

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

.our-features .features-holder {
	float: right;
	width: 100%;
	background: rgba(255,255,255,0.75);
	padding: 0;
	position: relative;
	z-index: 1;
	margin: 0;
}
.TPWidget{
	position: relative;
}
.load-map{
	text-align: center;
	position: absolute;
	width: 100%;
	top: 35%;
	z-index: 0;
}

embed, iframe, object {
	max-width: 100%;
	height: 100vh;
	width: 100%;
}

.intergeo_map_canvas p{
	color: gray;
}
.site-description {
	text-align: center;
	margin: 0;
}

.header-b {
	padding: 40px 0 0 0;
}

.site-footer {
	background: #fff;
	color: #888;
}

.site-footer .widget .widget-title {
	color: #444;
}
.site-footer .footer-b {
	padding: 30px 0;
	font-size: 14px;
	line-height: 1.714em;
	color: #444;
	text-align: center;
}
.site-footer .footer-b a{
	color: #1773b9;
}

.site-footer .footer-b a:hover{
	color: #f99116;
}
.intergeo_map_canvas{
		box-shadow: 0 0px 2px #444;
		border-radius: 5px;
}
.site-footer .site-info {
	float: left;
	width: 100%;
}
@media (min-width:769px){
    .flex-header{
        display:flex;
    }
    .flex-content{
        display: flex;
        flex-grow:1;
    }
    .flex-content.contact{
        display:block;
    }
    .site-branding {
	float: none;
    }

    .nav-holder .container {
	    background: transparent;
	}
	
	.our-features .features-holder {
		width: 60%;
	}

}